#planos {
  height: 80rem;
  padding: 200px 20px 0px 20px;
  text-align: center;
  position: relative;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;
}

.card-planos {
  background-color: var(--color-primary-1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.card-planos:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card */
  box-shadow: 0 0 20px rgba(255, 149, 0, 0.7); /* Borda luminosa */
}

svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}

.card-planos-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}

.card-planos-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
}

.card-planos-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

@media screen and (max-width: 987px) {
  #planos {
    height: 90rem;
    margin-bottom: 20rem;
  }
}
@media screen and (max-width: 667px) {
  #planos {
    height: 80rem;
  }
}
