#planos {
  height: 80rem;
  padding: 200px 20px 0px 20px;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;
}

.card-planos {
  background-color: var(--color-primary-1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
  text-align: center;
  transition: transform 0.3s ease;
}

svg {
  display: block;
  margin: 0 auto;
  width: 50%;
  object-fit: cover;
}

.card-planos-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}

.card-planos-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
}

.card-planos-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

@media screen and (max-width: 645px) {
  #planos {
    height: 90rem;
  }
}

@media screen and (min-width: 996px) {
  #planos {
    height: 60rem;
  }
}
